<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" />
    <title>CEM - Crypto Exchange Monitor</title>
</head>
<body>
<h1 th:text="${pageTitle}">pageTitle</h1>
<p th:text="${pageContent}">pageContent</p>

<h1>DANE Z WEBSOCKETU:</h1>
<div id="websocketData">
    <b>BTC-EUR | Binance: </b> <div id="BTCEUR_Binance"></div> </br >
    <b>BTC-EUR | Coinbase: </b> <div id="BTCEUR_Coinbase"></div> </br >
    <b>BTC-USDT | Binance: </b> <div id="BTCUSDT_Binance"></div> </br >
    <b>BTC-USDT | Coinbase: </b><div id="BTCUSDT_Coinbase"></div> </br >
</div>


<!-- TEMPORARY SOLUTION - JUST TO CHECK IF DATA ARE ADDED FROM DB TO WEBSOCKET AND CAN BE SEND TO FRONTEND -->
<script>
var socket = new WebSocket("ws://localhost:8080/websocket");

socket.onmessage = function(event) {
    var websocketDataElement = document.getElementById("websocketData");
    var eventData = JSON.parse(event.data);
    var currencyPair = eventData.currencyPair;
    var exchange = eventData.exchange;
    var price = eventData.price;

    document.getElementById(currencyPair + "_" + exchange).innerHTML = "";

    document.getElementById(currencyPair + "_" + exchange).innerHTML = price;
};
</script>

</body>
</html>